apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: qa

# Don't include ../../base as resource (avoid duplicate helmCharts)

labels:
  - pairs:
      environment: qa
      app.kubernetes.io/part-of: my-app
      app.kubernetes.io/managed-by: kustomize
    includeSelectors: false

helmGlobals:
  chartHome: ../..

helmCharts:
  - name: base
    releaseName: my-app
    namespace: qa
    valuesFile: ../../base/values.yaml
    additionalValuesFiles:
      - values-qa.yaml

# QA-specific patches
patches:
  # Two replicas for QA
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Deployment
      name: my-app
