apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: grafana

resources:
  - ../../base

commonLabels:
  environment: prod

helmCharts:
  - name: grafana
    repo: https://grafana.github.io/helm-charts
    version: 10.5.3
    releaseName: grafana
    namespace: grafana
    valuesFile: values-prod.yaml
    additionalValuesFiles:
      - ../../base/values.yaml

