apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: loki

resources:
  - namespace.yaml

# Loki Helm Chart (using loki-stack or loki)
helmCharts:
  - name: loki
    repo: https://grafana.github.io/helm-charts
    version: 6.49.0
    releaseName: loki
    namespace: loki
    valuesFile: values.yaml

commonLabels:
  app.kubernetes.io/part-of: observability
  app.kubernetes.io/component: logging

